.footerContainer {
    background-color: #2B495E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100vw;
}

.footerLeft {
    width: 50%;
}

.footerItem {
    color: #efefef;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 12px;


}

.footerBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contactContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.email {
    color: #efefef;
    font-size: 12px;
    font-weight: 600;
}

.phone {
    color:#efefef ;
    font-size: 12px;
    font-weight: 600;
    margin-left: 20px;
}

.locationContainer{
    color: #efefef;
    font-size: 12px;
    font-weight: 600;
} 


.footerRight {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-end;
}
.iconContainer {
    background-color: #efefef;
    padding: 4px;
    border-radius: 100%;
    margin-left: 10px;
}