.furnitureListContainer {
  margin-top: 100px;
}
.title {
  font-weight: bold;
  padding-left: 20px;
}
.furnitureImage {
  width: 100px;
  height: 100px;
  border-radius: 20px;

}
.nameText {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  margin-top: 15px;
}
.furnitureItemContainer {
  background: white;
  padding: 15px;
  margin: 10px 0px 10px 0px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px grey;
  cursor: pointer;

}
.furnitureItemContainer:hover{
  padding: 17px;
  box-shadow: 1px 1px 3px grey;
}
.price {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}
