.BannerContainer {
    width: 100%;
    height:200px;
    background-color: #2B495E;
    display: flex;
    flex-direction: row;
    padding: 30px 10px 0px 30px;

}
.leftContainer {
    width: 50%;
}
.storeTitle {
    font-size: 20px;
    font-weight: 400;
    color: #FFD569;
}
.sofaImage {
    padding-top: 60px;
    width: 400px;
    height: 180px;
}
.button{
    border-color: #B4B4B4;
    border-radius: 10px;
    border-width: 1px;
    background-color: #efefef;
    color: #2B495E;
    font-size: medium;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    cursor: pointer;
}
.button:hover{
    background-color: #2B495E;
    color: white;
}
.rightContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.offerSale {
    background-color: white;
    padding: 30px;
    color: #2B495E;
    font-size: large;
    font-weight: 700;
    border-radius: 100px;
}

