.NavContainer {
  display: flex;
  height: 60px;
  width: 100%;
  flex-direction: row;
  background-color: #BC983C;
  align-items: center;
  padding: 15px 30px 15px 30px;
}

.navItem {
  font-size: 16px;
  font-weight: 300;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

.navItem:hover {
    font-size: 18px;
    color:#2B495E;
    cursor: pointer;
  }

.HeadingText {
  font-size: 20px;
  font-weight: bolder;
  color: black;
  margin-right: 40px;
}
