.roomListContainer {
    margin-top: 100px;
}
.title {
    font-weight: bold;
    padding-left: 20px;
}
.roomItemContainer  {
}
.roomImage {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.nameText {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: 15px;
}